

.hide{
    display: none;
}
.car, .enemy-car{
    position:absolute;
    bottom: 100px;
    margin:auto;
    background-color: red;
    width: 30px;
    height: 60px;
}
.enemy-car{
    background-color: blue;
}
.lines{
    position: absolute;
    width: 10px;
    height: 80px;
    margin-left: 95px;
    background-color: #fff;
}
.game-area{
    background-color: gray;
    width: 200px;
    height: 500px;
    overflow: hidden;
    position: relative;
    margin: auto;
}