

.hide{
    display: none;
}
/* body{
    background-color: rgb(36, 36, 36);
    color: #fff;
} */
.centered{
    display: grid;
    place-items: center;
}
.button{
    user-select: none;
    height: 50px;
    float: left;
    width: 32%;
    margin: 5px 1px ;
    background-color: cadetblue;
}
.gameover-dialog{
    position: absolute;
    top: 40%;
    left: 30%;
}
.score {
    width: 100px;
    height: 50px;
    position: relative;
    margin: auto;
}
.car, .enemy-car{
    position:absolute;
    border-radius: 5px;
    bottom: 100px;
    margin:0;
    width: 30px;
    height: 60px;
}
#svg-car1{
    fill: blue;
}
.right-turn{
    transform: rotate(10deg);
}
.left-turn{
    transform: rotate(-10deg);
}
.car-turbo{
    border-bottom: 5px solid;
    border-color: yellow;
}
.enemy-car{
    margin: 0;
    background-color: rgb(54, 54, 150);
}
.lines{
    position: absolute;
    width: 5px;
    height: 80px;
    margin-left: 95px;
    background-color: rgb(189, 189, 189);
}
.game-area{
    border-radius: 10px;
    background-color: gray;
    width: 200px;
    height: 500px;
    overflow: hidden;
    position: relative;
    margin: auto;
}